.datatable-table {
    display: inline-block;
    padding: 20px;
    width: 90%;
    border-radius: 40px;
}

div .datatable {
    border-radius: 40px;
    padding: 20px;
    box-shadow:  5px 5px 15px #d9d9d9,
    -5px -5px 15px #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 30px;
}

div #deaths {
    color: #d63031;
}

div #recovered {
    color: #00b894;
}